@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --btn-txt-clr: white;
    --btn-op-clr: orange;
    --btn-setting-clr: darkgray;
    --gap-size: 0.25rem;
    --btn-zero-width: calc(50% - (var(--gap-size) / 2));
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 350px;
    border: 1px solid black;
    border-radius: 4px;
    padding: .5rem;
    background-color: rgb(48, 48, 48);
}

p {
    font-size: 3.5rem;
    margin: 0;
}

.output {
    margin-bottom: .5rem;
    padding: 0 6px;
    padding-bottom: 2px;
    height: 5rem;
    border: .1rem solid black;
    border-radius: 4px;
    background-color: lightgray;
    display: flex;
    justify-content: end;
    align-items: end;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}

.btn-row-container {
    display: flex;
    gap: var(--gap-size);
}

button {
    height: 4rem;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2rem;
    flex: 1;
}

#zero {
    flex: 0 var(--btn-zero-width);
}

.operation {
    font-size: 2.25rem;
}

.setting {
    background-color: var(--btn-setting-clr);
    color: var(--btn-txt-clr);
}

.setting-alt {
    background-color: lightgray;
}

.number {
    background-color: dimgray;
    color: var(--btn-txt-clr);
}

.number-alt {
    background-color: var(--btn-setting-clr);
}

.operation {
    background-color: var(--btn-op-clr);
    color: var(--btn-txt-clr);
}

.operation-alt {
    background-color: var(--btn-txt-clr);
    color: var(--btn-op-clr);
}